<h1 class="h1 center">Saudi Arabia (Tabuk area) map with Leaflet.js library</h1>

<div id="map"></div>

<footer class="new_footer_area">
     <div class="new_footer_top">
          <div class="footer">
               <div class="content">
                    <div class="details">
                    <h4 class="address">About App</h4>
                    <p>
                         I'm Andrey Karpovich 🇺🇦 and this is my demo app (proof-of-concept) for usage of Leaflet.js library 
                         (thanks for creators <a target="_blank" href="https://leafletjs.com/">leafletjs.com</a>) with GeoJson data 
                         to display interactive map for Saudi Arabia region's  farm activities planning (moisture, NDVI indexes). 
                         All the data is completely random.
                    </p>
                    <h4 class="mail">Email</h4>
                    <p>karpovich.andrey&#64;gmail.com</p>
                    </div>                 <div class="stack">
                    <h4>Stack</h4>
                    <p>Angular 18</p>
                    <p>Leaflet.js</p>
                    <p>GeoJSON format</p>
                    <p>geojson.io (draw)</p>
                    </div>
                    <div class="social-media">
                         <h4>Links</h4>
                         <a target="_blank" href="https://github.com/Ktojan/leaflet-geojson-saudi-farming"
                         >Github (code)</a>
                         <a target="_blank" href="https://leaflet-geojson-saudi-farming.vercel.app/ "
                         >Live Demo</a>
                         <a target="_blank" href="https://www.linkedin.com/in/andrey-karpovich-345701131/"
                         >My Linkedin</a>
                         </div>               
                    </div>             
             </div>

         <div class="footer_bg">
             <div class="footer_bg_one"></div>
             <div class="footer_bg_two"></div>
         </div>
     </div>    
 </footer>
