@use '@angular/material' as mat;
@import '../node_modules/leaflet/dist/leaflet.css'; 

$theme: mat.define-theme();

body {
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    position: relative;
    align-content: center;
    margin: auto;
    font-family: sans-serif;
    background-color: #f3f4f6;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.vert-center {
    align-items: center;
    align-content: center;
}

.usual-border {
    border: 3px solid gray;
}

.base-select {
    font-size: 16px;
    padding: 4px;
    border-radius: 6px;
}

// --------  Some rules rewriting mapbox-gl.css styles ------- //

.mapboxgl-popup-content {
    background: ivory;
    border-radius: 10px;
}
.mapboxgl-ctrl-top-right {
    max-width: 110px;
    right: 5px;
    display: flex;
    flex-direction: column;

    .mapboxgl-ctrl {
        margin: 5px auto;
    }    
    .mapboxgl-ctrl-group button {
        width: 40px;
        height: 40px;
    }
}

.mapboxgl-marker, .mat-mdc-chip {
    cursor: pointer;
}


// --------  Some rules rewriting leaflet.css styles ------- //

.info {
    max-width: 220px;
    padding: 8px;
    font-size: 18px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    border-radius: 8px; 
    h4 {
        margin: 0 0 5px;
        color: #777;
    }
}

.legend {
    line-height: 24px;
    color: #555;
    i {
        width: 24px;
        height: 24px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
}
